// fonts
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Montserrat&family=Source+Code+Pro:wght@300;400;600&family=Fira+Code:wght@300;400;600&display=swap');
$font-sans-serif: 'Montserrat', sans-serif;
$font-monospace: 'Source Code Pro', monospace;
$font-code: 'Fire Code', monospace;

// colors
$color-primary-0: #58cced; // Main Primary color */
$color-primary-1: #b7ecfb;
$color-primary-2: #81dbf4;
$color-primary-3: #33bce2;
$color-primary-4: #0fa6d1;

$dark-primary-0: #161818; // Main Primary dark color */
$dark-primary-1: #364b50;
$dark-primary-2: #2a3437;
$dark-primary-3: #1b2528;
$dark-primary-4: #1b3036;
