// fonts
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Montserrat&family=Source+Code+Pro:wght@300;400;600&family=Fira+Code:wght@300;400;600&display=swap');
$font-sans-serif: 'Montserrat', sans-serif;
$font-monospace: 'Source Code Pro', monospace;
$font-code: 'Fire Code', monospace;

// colors
$color-primary-0: #58CCED;	// Main Primary color */
$color-primary-1: #B7ECFB;
$color-primary-2: #81DBF4;
$color-primary-3: #33BCE2;
$color-primary-4: #0FA6D1;

$dark-primary-0: #161818;	// Main Primary dark color */
$dark-primary-1: #364B50;
$dark-primary-2: #2A3437;
$dark-primary-3: #1B2528;
$dark-primary-4: #1B3036;

